.burger {
  text-align: center;
  width: 100%;
  height: 250px;
  overflow-y: auto;
  font-weight: bold;
  font-size: 16px;
  margin: auto;
}


@media (min-width: 500px) {
  .burger {
    width: 400px;
    height: 350px;
  }
}

@media (min-width: 700px) {
  .burger {
    width: 600px;
    height: 500px;
  }
}

@media (min-width: 900px) {
  .burger {
    width: 800px;
    height: 650px;
  }
}